<div style="float: left; padding-top: 6px;">
    <img src="~/Content/Images/Home.png" width="20" />
</div>
<ul>
    <li class="nav_level1">@Html.ActionLink("Home", "index", "home")</li>
    <li class="nav_level2">@Html.ActionLink("Über uns", "about", "home")</li>
    <li class="nav_level2">@Html.ActionLink("Impressum", "impressum", "home")</li>
    <li class="nav_level1">@Html.ActionLink("Campingplatz", "index", "shop")</li>
    <li class="nav_level2">@Html.ActionLink("Information", "index", "admin")</li>
    <li class="nav_level2">@Html.ActionLink("Preis", "people", "home")</li>
    <li class="nav_level2">@Html.ActionLink("Bilder", "users", "admin")</li>
    <li class="nav_level1">@Html.ActionLink("Reservierung", "user", "admin")</li>
    <li class="nav_level2">@Html.ActionLink("Anfrage", "index", "user")</li>
</ul>

